*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f0f2f5;
    color: #444;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.join{
  width: 500px;
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
ul{
  list-style-type: none;
  padding-top: 30px;
}
ul li+li{
  margin-top: 20px;
}
ul li{
  display: flex;
  align-items: center;
}
ul li label{
  margin-right: 10px;
  width: 90px;
}
ul li input{
  flex: 1;
  padding: 5px;
}
ul li:last-child label+label{
  width: initial;
}
ul + div{
  margin-top: 30px;
  text-align: center;
}
ul + div label{
  font-size: 18px;
  font-weight: bold;
}
button[type='submit']{
  margin-top: 20px;
  display: flex;
  width: 100%;
  outline: none;
  border: none;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  background:#4f82ee;
  border-radius: 20px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}
