* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body {
    height: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
button {
    background: none; 
    border: none;
    cursor: pointer; 
}
.calculator-container{
    width: 400px;
    border: solid 1px;
    padding: 15px;
    background-color: #2a2a2a;
    border-radius: 15px
} 
.caculator-header-btns{
    display: flex;
    padding-bottom: 10px;
}
.caculator-header-btns button{
    width: 12px;
    height: 12px;
    border-radius:50%;
}
.caculator-header-btns .btn-close{
    background-color: #f94545;
}
.caculator-header-btns .btn-minimize{
    background-color: #ffc400;
}
.caculator-header-btns .btn-fullscreen{
    background-color: #2ca72c;
}
.calculator-display{
    padding-right: 20px;
}
.calculator-display .calculator-result{
    color: #5e3ede;
    font-size: 50px;
    text-align: right;
}
.caculator-header-btns button + button{
    margin-left: 8px;
}
.calculator-body-btns{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    margin-top: 15px;
    height: 300px;
}
.calculator-body-btns .button{
    width: calc(25% - 10px);
    transition: all 0.3s;
    font-size: 22px;
    color: #fff;
    border-radius: 15px;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.3);
}
.calculator-body-btns .button:hover{
    filter: invert(50%);
}
.calculator-body-btns .button:active{
    filter: invert(70%);
}
.calculator-body-btns .zero{
    width: calc(50% - 10px);
}

